
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Screen</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
@section scripts {
    <script src="~/assets/js/Home/screen.js"></script>
}
